<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.ibus.mapper.EquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.hd.ibus.pojo.Equipment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="lifetime" jdbcType="TIMESTAMP" property="lifetime" />
    <result column="max" jdbcType="DECIMAL" property="max" />
    <result column="min" jdbcType="DECIMAL" property="min" />
    <result column="sampling_frequency" jdbcType="DECIMAL" property="samplingFrequency" />
    <result column="install_time" jdbcType="TIMESTAMP" property="installTime" />
    <result column="station_id" jdbcType="INTEGER" property="stationId" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, number, type_id, lifetime, max, min, sampling_frequency, install_time,
    station_id, state
  </sql>

  <!--分页查询列表-->
  <select id="select" parameterType="com.hd.ibus.util.shenw.PageHelp" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from equipment
    <if test="object!=null">
      WHERE name LIKE concat(concat('%',#{object.name}),'%')
    </if>

    <if test="pageBean!=null">
      limit ${pageBean.start},${pageBean.pageSize}
    </if>
  </select>

  <!-- 查询列表的总记录数 -->
  <select id="findTotal" parameterType="com.hd.ibus.util.shenw.PageHelp"
          resultType="int">
    select count(*) from equipment
    <if test="object!=null">
      WHERE name LIKE concat(concat('%',#{object.name}),'%')
    </if>
  </select>

  <select id="paramCount" parameterType="com.hd.ibus.util.shenw.PageHelp"
          resultType="int">
    select count(*) from equipment
    <if test="object!=null">
      WHERE name =#{object.name}
    </if>
  </select>

  <select id="selectByKey" parameterType="com.hd.ibus.util.shenw.PageHelp" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from equipment
    <if test="object!=null">
      WHERE id = #{object.id}
    </if>
  </select>

  <insert id="insert" parameterType="com.hd.ibus.pojo.Equipment">
    insert into equipment (id, name, number,
      type_id, lifetime, max,
      min, sampling_frequency, install_time,
      station_id, state)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR},
      #{typeId,jdbcType=INTEGER}, #{lifetime,jdbcType=TIMESTAMP}, #{max,jdbcType=DECIMAL},
      #{min,jdbcType=DECIMAL}, #{samplingFrequency,jdbcType=DECIMAL}, #{installTime,jdbcType=TIMESTAMP},
      #{stationId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.hd.ibus.pojo.Equipment">
    update equipment
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="lifetime != null">
        lifetime = #{lifetime,jdbcType=TIMESTAMP},
      </if>
      <if test="max != null">
        max = #{max,jdbcType=DECIMAL},
      </if>
      <if test="min != null">
        min = #{min,jdbcType=DECIMAL},
      </if>
      <if test="samplingFrequency != null">
        sampling_frequency = #{samplingFrequency,jdbcType=DECIMAL},
      </if>
      <if test="installTime != null">
        install_time = #{installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from equipment
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- luyan -->
  <select id="queryAll" resultMap="BaseResultMap">
    select * from equipment
  </select>
</mapper>