<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.ibus.mapper.IbusSatisticsMapper" >

  <!-- 节点信息查询 -->
	<select id="findList" parameterType="java.util.Map" resultType="map">
		select * from  ibus_tpvi 
		where node_id=#{nodeAddress} and gateway_id=#{gatewayid} and ac_time between #{startdate} and #{enddate}
		<!-- <if test="map!=null"> -->
		ORDER BY ac_time desc
		
		limit #{start},#{pageSize}
		
		
		<!-- <if> -->
	</select>
	 
	
	<select id="findTotal" parameterType="java.util.Map" resultType="Integer">
		select count(*) from  ibus_tpvi 
		    where node_id=#{nodeAddress} and gateway_id=#{gatewayid} and ac_time between #{startdate} and #{enddate}
	</select>
  <!-- 报警信息查询 -->
	<select id="findList1" parameterType="java.util.Map" resultType="map">
		select * from  ibus_warn 
		where node_id=#{nodeAddress} and gateway_id=#{gatewayid} and  state &lt;&gt;1  and  ac_time between #{startdate} and #{enddate}
		<!-- <if test="map!=null"> -->
		ORDER BY ac_time desc
		
		limit #{start},#{pageSize}
		
		
		<!-- <if> -->
	</select>
	 <!-- 报警汇总查询 -->
	<select id="findAllWarn" parameterType="java.util.Map" resultType="map">
	select gateway_name,node.node_name,warn.ac_time,warn.gateway_id,warn.ia,warn.ib,warn.ic,warn.id,warn.node_id,warn.state,warn.state,warn.tp1,warn.tp2
,warn.tp3,warn.tp4,warn.tp5,warn.tp6,warn.tp7,warn.tp8,warn.tp9,warn.va,warn.vb,warn.vc,warn.warn
 from  ibus_gateway gate,ibus_node node ,ibus_warn  warn where gate.id=warn.gateway_id and node.node_address=warn.node_id and node.gateway_id=warn.gateway_id
    and warn.state &lt;&gt;1
    <if test="gatewayid!=null">
    	and warn.gateway_id=#{gatewayid}
    </if>
    
		<!-- <if test="map!=null"> -->
		ORDER BY warn.ac_time desc
		
		limit #{start},#{pageSize}
		
		
		<!-- <if> -->
	</select>
	<select id="findAllWarnCount" parameterType="java.util.Map" resultType="Integer">
	select count(*) 
    from ibus_gateway gate,ibus_node node ,ibus_warn warn 
    
    <!-- where gate.id=warn.gateway_id and node.id=warn.node_id  -->
    where  gate.id=warn.gateway_id and node.node_address=warn.node_id and node.gateway_id=warn.gateway_id
    and warn.state &lt;&gt;1
     <if test="gatewayid!=null">
    	and warn.gateway_id=#{gatewayid}
    </if>
    
	</select>
	
	<select id="findTotal1" parameterType="java.util.Map" resultType="Integer">
		select count(*) from  ibus_warn 
		   where node_id=#{nodeAddress} and gateway_id=#{gatewayid} and state &lt;&gt;1 and ac_time between #{startdate} and #{enddate} 
	</select>
	<select id="findCount"  resultType="Integer">
		select count(*) from  ibus_warn 
		   where  state &lt;&gt;1 
	</select>
	<!-- 清除后更新状态 -->
    <update id="updateState" parameterType="java.lang.Integer">
		update  ibus_warn  set state=1  
		where id=#{id}
	</update>
  <!-- 网关查询 -->
	<select id="findAllGateway" parameterType="java.util.Map" resultType="map">
		select * from ibus_gateway
	</select>
	<!-- 群组查询 -->
	<select id="findAllGroup" parameterType="java.util.Map" resultType="map">
		select * from ibus_group where gateway_id=#{gateway_id}
	</select>
	<!-- 节点查询 -->
	<select id="findAllNode" parameterType="java.util.Map" resultType="map">
		select * from ibus_node where group_id=#{group_id}
	</select>
</mapper>