<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.ibus.mapper.OperationMapper">
    <resultMap id="BaseResultMap" type="com.hd.ibus.pojo.Operation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="operation_type" jdbcType="VARCHAR" property="operationType"/>
        <result column="operation_name" jdbcType="VARCHAR" property="operationName"/>
        <result column="ac_time" jdbcType="DATE" property="acTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.hd.ibus.pojo.Operation">
        insert into operation_log(id,user_id, operation_type,operation_name, ac_time)
        values (#{id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{operation_type,jdbcType=VARCHAR},
        #{operation_name,jdbcType=VARCHAR}, #{ac_time,jdbcType=DATE})
    </insert>

</mapper>