<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.ibus.mapper.OperationMapper">
    <resultMap id="BaseResultMap" type="com.hd.ibus.pojo.Operation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="type" jdbcType="VARCHAR" property="operationType"/>
        <result column="content" jdbcType="VARCHAR" property="operationName"/>
        <result column="opration_time" jdbcType="DATE" property="acTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.hd.ibus.pojo.Operation">
        insert into system_log(id,user_id, type,content, opration_time)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{operationType,jdbcType=VARCHAR},
        #{operationName,jdbcType=VARCHAR}, #{acTime,jdbcType=DATE})
    </insert>
</mapper>