<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.ibus.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hd.ibus.pojo.Role" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    role_id, name, power
  </sql>

  <!--分页查询列表-->
  <select id="select" parameterType="com.hd.ibus.util.shenw.PageHelp" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from role
    <if test="object!=null">
      WHERE name LIKE concat(concat('%',#{object.name}),'%')
    </if>

    <if test="pageBean!=null">
      limit ${pageBean.start},${pageBean.pageSize}
    </if>
  </select>

  <!-- 查询列表的总记录数 -->
  <select id="findTotal" parameterType="com.hd.ibus.util.shenw.PageHelp"
          resultType="int">
    select count(*) from role
    <if test="object!=null">
      WHERE name LIKE concat(concat('%',#{object.name}),'%')
    </if>
  </select>

  <select id="paramCount" parameterType="com.hd.ibus.util.shenw.PageHelp"
          resultType="int">
    select count(*) from role
    <if test="object!=null">
      WHERE name =#{object.name}
    </if>
  </select>

  <select id="selectByKey" parameterType="com.hd.ibus.util.shenw.PageHelp" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from role
    <if test="object!=null">
      WHERE role_id = #{object.roleId}
    </if>
  </select>

  <insert id="insert" parameterType="com.hd.ibus.pojo.Role">
      insert into role (role_id, name, power
        )
      values (#{roleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}
        )
  </insert>

  <update id="update" parameterType="com.hd.ibus.pojo.Role">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Oct 21 15:23:17 CST 2016.
    -->
    update role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>


</mapper>