<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.ibus.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.hd.ibus.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="power" jdbcType="VARCHAR" property="power" />
  </resultMap>

  <sql id="Base_Column_List">
    id, account, password, name, tel, email, unit_id, role_id, power
  </sql>

  <!--分页查询列表-->
  <select id="select" parameterType="com.hd.ibus.util.shenw.PageHelp" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from user
    <if test="object!=null">
    WHERE account LIKE concat(concat('%',#{object.account}),'%')
    </if>

    <if test="pageBean!=null">
      limit ${pageBean.start},${pageBean.pageSize}
    </if>
  </select>

  <!-- 查询列表的总记录数 -->
  <select id="findTotal" parameterType="com.hd.ibus.util.shenw.PageHelp"
          resultType="int">
    select count(*) from user
    <if test="object!=null">
      WHERE account LIKE concat(concat('%',#{object.account}),'%')
    </if>
  </select>

  <select id="paramCount" parameterType="com.hd.ibus.util.shenw.PageHelp"
          resultType="int">
    select count(*) from user
    <if test="object!=null">
      WHERE account =#{object.account}
    </if>
  </select>

  <select id="selectByKey" parameterType="com.hd.ibus.util.shenw.PageHelp" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from user
    <if test="object!=null">
      WHERE id = #{object.id}
    </if>
  </select>

  <insert id="insert" parameterType="com.hd.ibus.pojo.User">
    insert into user (id, account, password,
    name, tel, email, unit_id,
    role_id, power)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{unitId,jdbcType=INTEGER},
    #{roleId,jdbcType=INTEGER}, #{power,jdbcType=VARCHAR})
  </insert>

</mapper>